body {
    text-align: center;
}

#mmmmm {
    border-radius: 50px;
    height: 400px;
    width: 500px;
}

#dmdimg {
    font-size: 23px;
}
html {
    scroll-behavior: smooth;
}
#ii {
    text-align: right;
}
.lololololololololololo {
    background-color: lightcoral;
    border-radius: 10px;
}
.imamammama {
        background-color: lightskyblue;
    border-radius: 10px;
}
#lololll {
    font-size: 20px;
}